<div class="pagination-compact" [ngClass]="alignmentClass">
  <span class="pagination-text" *ngIf="showTotal">{{ rangeText }}</span>

  <div class="pagination-controls">
    <button mat-icon-button [disabled]="isFirstPage()" (click)="goToPage(currentPage - 1)"
      class="pagination-button arrow-button">
      <span class="arrow-icon">‹</span>
    </button>

    <div class="page-numbers">
      <ng-container *ngFor="let page of getPageNumbers(); let i = index">
        <button mat-button [class.active]="page === currentPage" (click)="goToPage(page)">
          {{ page + 1 }}
        </button>
      </ng-container>
    </div>

    <button mat-icon-button [disabled]="isLastPage()" (click)="goToPage(currentPage + 1)"
      class="pagination-button arrow-button">
      <span class="arrow-icon">›</span>
    </button>
  </div>

  <div class="quick-jumper" *ngIf="showQuickJumper">
    <span class="jumper-label">Перейти на</span>
    <div class="jumper-input-wrapper">
      <input type="number" class="jumper-input" [(ngModel)]="quickJumpPage" (keyup.enter)="handleQuickJump()"
        (blur)="handleQuickJump()" min="1" [max]="totalPages" placeholder="Стр.">
    </div>
    <button mat-button class="jumper-button" (click)="handleQuickJump()">Перейти</button>
  </div>
</div>