name: SonarCloud analysis

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK for Backend
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Backend
        run: |
          cd backend/task-manager
          mvn -B clean package
          
      - name: Setup Node.js for Frontend
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Frontend dependencies
        run: |
          cd frontend
          npm install
      - name: Run Frontend tests with coverage
        run: |
          cd frontend
          npx vitest run src/utils/math.test.js src/tests/basic.test.js --coverage

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@4006f663ecaf1f8093e8e4abb9227f6041f52216
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: |
            -Dsonar.projectKey=queppat_TaskManager
            -Dsonar.organization=queppat
            -Dsonar.sources=backend/task-manager/src/main/java,frontend/src
            -Dsonar.java.binaries=backend/task-manager/target/classes
            -Dsonar.exclusions=**/node_modules/**,**/target/**,**/*.md,**/test/**