spring:
    jpa:
        open-in-view: false
        show-sql: true
        hibernate:
            ddl-auto: update
    datasource:
        url: ${DATABASE_URL}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
        driver-class-name: org.postgresql.Driver
    config:
      import: optional:file:.env.properties
    application:
        name: TaskManager
logging:
  file:
    path: ./logs
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7
      clean-history-on-start: false
app:
    jwt:
      access-secret: ${JWT_ACCESS_SECRET}
      refresh-secret: ${JWT_REFRESH_SECRET}
      isSecretKeyBase64Encoded: false
      access-expiration: ${JWT_ACCESS_EXPIRATION}
      refresh-expiration: ${JWT_REFRESH_EXPIRATION}
    cookie:
      path: /
      domain: localhost
      secure: false
      http-only: true
      same-site: strict
    cors:
      allowedOrigins: http://localhost:8080,http://localhost:5173